<<<<<<< HEAD:frontend/styles/globals.css
/* styles/globals.css */

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a base font family across the app */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Light grey background */
    color: #333; /* Dark text color */
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
select{
    height: 30px;
    border-radius: 8px;
}


=======
/* styles/globals.css */

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a base font family across the app */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Light grey background */
    color: #333; /* Dark text color */
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
select{
    height: 30px;
    border-radius: 8px;
}


>>>>>>> origin/student-dashboard:styles/globals.css
