.split{
    display: flex;
    height: 100vh;
}
.left{
    flex: 0 0 40%;
    background-color: #EAF6F6;
    padding: 20px;
}
.right{
    flex: 0 0 60%;
    background-color: #61C0BF;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.title{
    text-align: left;
    font-size: 72px;
    font-weight: 'bold';
    color: #034f84;
    margin: 0;
    margin-top: 20px;
}
#name{
    padding-left: 60px;
    font-size: 72px;
}
.slogan{
    margin: 0;
    margin-top: 10px;
    color: orange;
    padding-left: 100px;
}
#start{
    border-radius: 1.5rem;
    border-color: #61C0BF;
    width: 190px;
    height: 50px;
    margin-top: 10%;
    margin-left: 25%;
    text-align: center;
    font-size: 18px;
}
#start:hover{
    background-color: #61C0BF;
    box-shadow: black;
}
#start span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
#start span:after{
    content: '\21E8';
    font-size: 36px;
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
}
#start:hover span{
    padding-right: 30px;
}
#start:hover span:after{
    opacity: 1;
    right: -5px;
}
#login{
    margin-left: 27%;
    padding-top: 5px;
}
.home-image{
    align-items: center;
}