div{
    font-family:Arial;
}
.container{
    display:flex;
    flex-direction: column;
    margin:auto;
    padding-top: auto;
    align-items: center;
    margin-top: 12%;
    padding-bottom: 30px;
    width: 50%;
}
.container-out{
    background:#EAF6F6;
    height: 100vh;
    
}
.header{
    font-size: 32px;
    font-weight: bold;
    color: #034f84;
    display:flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}
.formBox{
    border-radius: 10px;
    background-color: #ffffff;
    display:flex;
    padding-top: -10px;
    flex-direction:column;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

input::placeholder {
    color: gray;
    
  }
input{
    margin: 10px;
    height: 30px;
    color:#333;
    border-radius: 8px;
    border-color:#61C0BF;
    border-width: 1px;
    font-size: 16px;
    width: 300px;
}
.buttons{
    display:flex;
    gap: 5px;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
}
#submit{
   margin-top: 20px;
   border: none;
    text-align: center;
    width: 300px;
    border-radius:8px;
    background-color: #61C0BF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    height: 30px;
}
.missing{
    border: 1px solid red;
    color:red;
}